body {
background: white; 
padding: 0;
margin: 0;
}


h1
  {
  font: 37px Arial, sans-serif;
  font-weight:bold;
  #color: #E65600;
  color: gray;
  padding: 1px;
  margin: 0;
}
  
.main {
color: gray;
background-color:#FFFFFF;
width:600px;
font-size: 96%;
font-family: Arial, sans-serif;
margin-left:260px;
text-align:justify;
text-align: left;
border-right:solid 0px;
border-color:#E65600;
padding:9px;
}

.main p{
margin-left: 13px;
}

.boxout {
position:relative;
float:left;
#border:0px solid  #E65600;
padding: 25px;
}



/* register horizontal lines */

.hr {
  height: 2px;
  width: 100%;
  background-color: #E65600;
  border: none;
  color:#000000;
  margin-bottom: 5px;
  }


#footer {
clear: both;
text-align:center;
padding:10px;
margin: 0;
font-size:85%;
font-family: Arial, sans-serif;
}

#footer a {
color: #41383C;
font-family: Arial, sans-serif;
text-decoration: none;

}

#footer a:hover { color: #E65600; } 



