/* This page contains css for tables */

.scrdiv1 {
	margin-left:10px;
	margin-top:0px;
}

/*execeptions */


.normalboxexp{
	width:37px;
	height:25px;
	color:gray;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
}
.normalboxoverexp{
	width:37px;
	height:25px;
	border:1px solid gray;
	background-color:#445455;
	cursor:pointer;
	font-family:tahoma;
	font-size:9pt; 
	text-align:center;
	color:white;
}
/* the normal state for box */
#normalbox{
	width:37px;
	height:25px;
	color:gray;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
}
/* the normal state for box span for two blocks */
#normalboxnum{
	width:37px;
	height:25px;
	color:gray;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
}
/* the normal state for box mouse over css */
#normalboxover{
	width:37px;
	height:25px;
	border:1px solid gray;
	background-color:#445455;
	cursor:pointer;
	font-family:tahoma;
	font-size:9pt; 
	text-align:center;
	color:white;
}
/* this is also same for boxes that wont click or mouseover effect */
#normalbox1{
	width:74px;
	height:25px;
	color:gray;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	cursor:pointer;
	text-align:center;
}
#normalbox2{
	width:74px;
	height:25px;
	color:gray;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	cursor:pointer;
	text-align:center;
}

#normalbox1over{
	width:74px;
	height:25px;
	color:white;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	cursor:pointer;
	background-color:#445455;
	text-align:center;
}

/* css for box WITHOUT data */
#normalboxnocon{
	width:37px;
	height:25px;
	background-color:#CCCCCC;
	border:1px solid gray;
}
/* the css for title box */
.titleboxexp{
	width:37px;
	height:25px;
	color:white;
	background-color:#555555;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
	cursor:pointer;
}
#titlebox{
	width:37px;
	height:25px;
	color:white;
	background-color:#555555;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
}

/* the css for title box */
#titleboxnum{
	width:37px;
	height:25px;
	color:white;
	background-color:#555555;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
	border:1px solid gray;
	
}
/* the css for title box over */
.titleboxoverexp{
	width:37px;
	height:25px;
	color:#cccccc;
	border:1px solid #777777;
	cursor:pointer;
	text-align:center;
}
#titleboxover{
	width:37px;
	height:25px;
	color:#cccccc;
	border:1px solid #777777;
	cursor:pointer;
	text-align:center;
}
#titlebox2{
	width:74px;
	height:25px;
	color:white;
	background-color:#555555;
	border:1px solid gray;
	text-align:center;
	font-family:tahoma;
	font-size:8pt; 
	
}
#block2{
	width:1200px;
	height:25px;
	
}
#block1{
	width:800px;
	height:25px;
	
}
#intl{
	color:gray;
	border:1px solid gray;
	font-family:tahoma;
	font-size:8pt; 
	text-align:center;
}

.scrdiv1 a {
	text-decoration:underline;
	color:gray;
	font-size:100%;
}
.scrdiv1 a:hover {
	text-decoration:underline;
	color:#33CC33;
}

h1 {
	font-family:tahoma;
	font-size:13pt; 
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}